<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StegoVault</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <h1>StegoVault : Image Steganography Encoder and Decoder</h1>

    <div class="box-container">

        <div class="box encode-box">
            <form action="{{ url_for('encode') }}" method="POST" enctype="multipart/form-data">
                <h2>Encode Message</h2>
                <label for="image">Select Image:</label>
                <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" required><br><br>
                <label for="message">Enter Message:</label>
                <textarea name="message" id="message" required></textarea><br><br>
                <button type="submit" class="btn">Encode</button>
            </form>
        </div>

        <div class="box decode-box">
            <form action="{{ url_for('decode') }}" method="POST" enctype="multipart/form-data">
                <h2>Decode Message</h2>
                <label for="image">Select Image:</label>
                <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg" required><br><br>
                <button type="submit" class="btn">Decode</button>
            </form>
        </div>
    </div>
</body>
</html>
